.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: aliceblue;
    padding-block: 5px;
    padding-left: 8px;
    width: 150px;
    border-radius: 25px 0px 0px 25px;
    padding: 10px 0px 10px 10px;

    img {
        width: 30px;
        height: 30px;
        background-color: hsl(0, 0%, 90%);
        border-radius: 100%;
    }

    span {
        font-size: 24px;
        width: inherit;
        text-align: center;
    }
}

.player-active {
    background-color: hsl(208, 100%, 90%);

    img {
        background-color: hsl(208, 100%, 80%);
    }
}
