<div class="start-screen">
    <img src="assets/img/fire-rings.jpg" />
    <div class="start-menu__wrapper">
        <div class="warning__wrapper">
            <img src="assets/img/icons/warning.png" alt="" />
            <img src="assets/img/icons/warning2.png" alt="" />
        </div>
        <div class="menu__wrapper">
            <div class="menu-title">
                <img src="assets/img/icons/flame.png" alt="" />
                <div>
                    <h1>Ring of Fire</h1>
                </div>
                <img src="assets/img/icons/flame.png" alt="" />
            </div>
            <div class="menu-button">
                <button (click)="newGame()">Play</button>
            </div>
        </div>
        <div class="warning__wrapper">
            <img src="assets/img/icons/warning2.png" alt="" />
            <img src="assets/img/icons/warning.png" alt="" />
        </div>
    </div>
</div>
