.rule-info__display {
    background-color: white;
    padding: 20px;

    mat-card-title {
        text-align: center;
        font-size: 2rem;
        padding-inline: 20px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: 2px solid black;
        max-width: 500px;
    }

    mat-card-content {
        font-size: 1rem;
        font-weight: 500;
        text-align: justify;
        max-width: 560px;
    }
}


@media(max-width:850px),
(max-height:850px) {
    .rule-info__display {
        position: absolute;
        bottom: -35px;
        left: 0px;
        right: 0px;
        max-width: unset;

        mat-card-title,
        mat-card-content {
            max-width: 100vw;
        }
    }
}


@media(max-height:850px) {
    .rule-info__display {
        padding: 10px;

        mat-card-title {
            font-size: 1.5rem;
        }
    }
}


@media (max-width:600px),
(max-height:600px) {
    .rule-info__display {
        mat-card-title {
            font-size: 1rem;
            margin-bottom: 5px;
        }

        mat-card-content {
            font-size: 0.8rem;
            text-align: center;
        }
    }

    .mat-mdc-card-content {
        padding: unset;
    }
}


@media(max-height:500px) {
    .rule-info__display {
        height: 100px;
        overflow-x: scroll;
        padding-block: 5px;
    }
}